html, body {
   background-color: #010C16;
   height: 100vh;
   width: 100vw;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}
.App-header {
  background-color: #038ACC;
  height: 6vh;
  padding: 10px;
  color: #FDFFFC;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.App-title {
  font-size: 1.5em;
  margin-left: 15px;
  text-align: left;
}

.App-intro {
  font-size: large;
}

.App-main {
  display: flex;
  color: #010C16;
  background-color: #010C16;
  height: 90vh;
  width: 100vw;
  font-family: 'Nunito', sans-serif;
  font-size: calc(16px + .05vw);
  overflow: hidden;
  align-items: flex-start;
}

.room-list-container {
  max-width: 20vw;
  height: 90vh;
  padding: 20px;
  z-index: 3;
  flex-grow: 1;
  flex-shrink: 1.2;
  background-color: #FDFFFC;
  box-shadow: 1px 1px 4px rgba(38,50,56, .8);
  text-align: left;
  text-transform: capitalize;
}
.chat-room {
  height: 90vh;
  width: 80vw;
  flex-grow: 2;
  flex-shrink: 2;
  background-color: #FDFFFC;
  text-align: center;
  padding: 0;
}
.login-prompt {
  margin: 50px auto 0 auto;
  max-width: 400px;
}

.accent-red {
  background-color: rgba(230, 53, 75, 0.95);
}
.accent-blue-green {
  background-color: rgb(46, 196, 182);
}
.background-dark-blue {
  background-color: #011627;
}
.background-dark {
  background-color: #010C16;
}
.background-light {
  background-color: #FDFFFC;
}
